@model IEnumerable<Haber.Model.Haberler>

<h2>Haberler</h2>

<p>
    @Html.ActionLink("Haber Oluştur", "Create")
</p>
<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="deleteModalLabel">Uyarı</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Bu haberi silmek istediğinize emin misiniz?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Hayır</button>
                <a href="" id="modalYes" class="btn btn-danger">Evet</a>
            </div>
        </div>
    </div>
</div>

<section class="panel">
    <div class="panel-body">
        <table class="table table-bordered table-striped mb-none" id="datatable-default">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.HaberBaslik)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.HaberPhoto)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.HaberSirano)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IsActive)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UpdatedAt)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="gradeX">
                        <td>
                            <a href="@Url.Action("Edit", new { id = item.Id })">@Html.DisplayFor(modelItem => item.HaberBaslik)</a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.HaberBaslik)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.HaberSirano)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsActive)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UpdatedAt)
                        </td>
                        <td>     
                            <div class="delete-section">
                                @*<a class="delete-link"  href="@Url.Action("Delete", new {id = item.Id})"></a>*@
                                
                                @*<div class="btn btn-primary delete-confirm" style="display:none" data-delete-id="@item.Id"></div>*@
                                @Html.ActionLink("Sil", "Delete", new { id = item.Id }, new { onclick = "return confirm ('Silmek istediğinize emin misiniz')" })
                            </div>
                           @*<a href="@Url.Action("Delete", new { id = item.Id })">Sil</a>*@
                           
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>

<style>
    .delete-section {
        display: inline;
    }
</style>
@section scripts{



    <script type="text/javascript">



    $(function () {
        $("a.delete-link").click(function () {

                var deleteLink = $(this);
                deleteLink.hide();
                var confirmButton = deleteLink.siblings(".delete-confirm");
                confirmButton.show();
                

                var cancelDelete = function () {
                    removeEvents();
                    showDeleteLink();
                };
            
            var deleteItem = function () {
                removeEvents();
                confirmButton.hide();
                $.post(
                    '@Url.Action("Delete")',
                    AddAntiForgeryToken({ id: confirmButton.attr('data-delete-id') }))
                   .done(function () {
                       var parentRow = deleteLink.parents("tr:first");
                       parentRow.fadeOut('fast', function () {
                           parentRow.remove();
                       });
                   }).fail(function (data) {
                       alert("error");
                   });
                return false;
            };

            var removeEvents = function () {
                confirmButton.off("click", deleteItem);
                $(document).on("click", cancelDelete);
                $(document).off("keypress", onKeyPress);
            };

            var showDeleteLink = function () {
                confirmButton.hide();
                deleteLink.show();
            };

            var onKeyPress = function (e) {
                //Cancel if escape key pressed
                if (e.which == 27) {
                    cancelDelete();
                }
            };

            confirmButton.on("click", deleteItem);
            $(document).on("click", cancelDelete);
            $(document).on("keypress", onKeyPress);

            return false;
        });

        AddAntiForgeryToken = function (data) {
            data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
            return data;
        };
    });
    </script>
    }

