@model IPagedList<Haber.Model.Haberler>
@using PagedList.Mvc;
@using PagedList;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Haberler";
    <style>

    </style>
}
<h2>@ViewBag.Title</h2>
<div class="container">
    @foreach (var item in Model)
    {
        <div class="row">
            <div class="form-group">
                <table class="table">
                    <tr>
                        <th style="width:175px">
                            <img src="~/CmsFiles/@item.HaberPhoto" style="width:150px" />
                        </th>
                        <td>
                            @item.HaberBaslik
                            <br />
                            @item.HaberDetay 
                            @Html.ActionLink("Devamı", "Details", new { id = item.Id }) 
                        </td>

                    </tr>


                </table>
            </div>

        </div>
    }
    
</div>
<div style="float:left">
    <div style="display:inline-block;color: black;text-decoration: none;margin-left:40%; position:fixed;bottom:110px;float:left;left:100px;">
        @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }))

    </div>
</div>
